<!DOCTYPE html> 
<html xmlns:wicket="http://wicket.apache.org/">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title wicket:id="pageTitleId">webmail</title>
</head>
<body>
	<header>
		<h1 wicket:id="titleId">webmail</h1>
	</header>

	<section wicket:id="feedbackId" id="feedback">feedback</section>

	<section id="login">
		<form wicket:id="formId">
			<div class="row">
				<label wicket:id="usernameLabelId" for="usernameId">username</label>
				<input wicket:id="usernameId" id="usernameId" type="text" />
			</div>
			<div class="wrapper"></div>

			<div class="row">
				<label wicket:id="passwordLabelId" for="passwordId">password</label>
				<input wicket:id="passwordId" id="passwordId" type="password" />
			</div>
			<div class="wrapper"></div>

			<div class="row">
				<input wicket:id="submitId" type="submit" />
			</div>
		</form>
	</section>
</body>
</html>
