<html xmlns:wicket>
<body>
	<wicket:panel>
		<table class="dataTable" wicket:id="messagesDataTableId">table</table>
	</wicket:panel>

	<wicket:fragment wicket:id="actionFragmentId">
		<div class="button">
			<span wicket:id="refreshButtonId">refresh button</span>
		</div>

		<div class="separator"></div>

		<div class="button">
			<span wicket:id="writeButtonId">write button</span>
		</div>

		<div class="separator"></div>

		<div class="button">
			<span wicket:id="searchButtonId">search button</span>
		</div>
	</wicket:fragment>
</body>
</html>
