<html xmlns:wicket>
<body>
	<wicket:panel>
		<a wicket:id="first">
			<img wicket:id="imageFirst" alt="first" />
		</a>&nbsp;
		<a wicket:id="prev">
			<img wicket:id="imagePrev" alt="previous" />
		</a>&nbsp;
		<span wicket:id="navigation">
			<a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">5</span></a>
		</span>&nbsp;
		<a wicket:id="next">
			<img wicket:id="imageNext" alt="next" />
		</a>&nbsp;
		<a wicket:id="last">
			<img wicket:id="imageLast" alt="last" />
		</a>
	</wicket:panel>
</body>
</html>
