<html xmlns:wicket>
<body>
	<wicket:panel>
		<form wicket:id="formId">
			<p>
				<label>To: </label>
				<input wicket:id="toId" type="text" />
			</p>
			<p>
				<label>Subject: </label>
				<input wicket:id="subjectId" type="text" />
			</p>
			<p>
				<textarea wicket:id="bodyId"></textarea>
			</p>
		</form>
	</wicket:panel>

	<wicket:fragment wicket:id="actionFragmentId">
		<div class="button">
			<wicket:container wicket:id="discardButtonId">discard button</wicket:container>
		</div>

		<div class="separator"></div>

		<div class="button">
			<wicket:container wicket:id="sendButtonId">send button</wicket:container>
		</div>

		<div class="separator"></div>

		<div class="button">
			<wicket:container wicket:id="attachButtonId">attach button</wicket:container>
		</div>

		<div class="button">
			<wicket:container wicket:id="saveButtonId">save button</wicket:container>
		</div>
	</wicket:fragment>
</body>
</html>
