<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title wicket:id="pageTitleId">search</title>
	<link wicket:id="cssId" rel="stylesheet" type="text/css" />
</head>
<body>
	<form wicket:id="formId">
		<input wicket:id="searchTextFieldId" type="text" />
		<input wicket:id="submitButtonId" type="submit" />
	</form>
</body>
</html>
