/*
 * Webmail login page stylesheet.
 */

html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: arial, sans-serif, helvetica;
	font-size: 90%;
	background-color: #ececec;
}

div#container {
	position: relative;
	margin: 0px auto;
	width: 370px;
	text-align: center;
	border: 2px dotted black;
	height: 200px;
	top: 50px;
}

div#feedback {
	color: red;
}

div#header h1 {
	height: 70px;
	line-height: 80px;
	margin: 0px;
}

div#login {
	margin: 0px auto;
	width: 300px;
}

div#login div {
	width: 100%;	
}

div#login div:last-child {
 	float: right;             
}

div#login label {
	float: left;
	margin: 0.5em 0;
	text-align: right;
	width: 80px;
}

div#login input[type=text],input[type=password] {
	float: right;
	margin: 0.5em 0;
	text-align: left;
	width: 180px;
}

div#login input[type=submit] {
	float: right;
	margin: 0.5em 0;
	text-align: left;
	width: 100px;
}