/*
 * Webmail login page stylesheet.
 */

html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: arial, sans-serif, helvetica;
	font-size: 90%;
	background-color: #ececec;
	margin: 0px auto;
	width: 370px;
	text-align: center;
	height: 200px;
}

section#feedback {
	color: red;
}

header {
	display: block;
}

header h1 {
	height: 70px;
	line-height: 80px;
	margin: 0px;
}

section#login {
	display: block;
	margin: 0px auto;
	width: 300px;
}

section#login div {
	width: 100%;	
}

section#login div:last-child {
 	float: right;             
}

section#login label {
	float: left;
	margin: 0.5em 0;
	text-align: right;
	width: 80px;
}

section#login input[type=text],input[type=password] {
	float: right;
	margin: 0.5em 0;
	text-align: left;
	width: 180px;
}

section#login input[type=submit] {
	float: right;
	margin: 0.5em 0;
	text-align: left;
	width: 100px;
}
