/*
 * Webmail main page stylesheet.
 */
 
html,body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial, sans-serif, helvetica;
	font-size: 80%;
}

div#header h1 {
	float: left;
	height: 50px;
	line-height: 60px;
	margin: 0px;
	padding-left: 25px;
}

div#header {
	background-image: url("../images/background_left.png");
	background-repeat: repeat-y;
	background-color: #ececec;
	float: left;
	width: 100%;
}

div#info {
	float: left;
	position: absolute;
	margin-top: 50px;
	margin-left: 30px;
	width: 160px;
	font-size: 90%;
}

div#actions {
	margin-left: 240px;
	margin-top: 10px;
}

div#actions div.button {
	float: left;
	text-align: center;
	font-weight: bold;
	margin-right: 8px;
	width: 60px;
}

div#actions div.separator {
	float: left;
	background-image: url("../images/separator.png");
	width: 16px;
	height: 56px;
	margin-right: 8px;
	margin-top: 5px;
}

div#actions div#mailActions {
	float: left;
}

div#actions div#navigationActions {
	float: left;
	padding-left: 30px;
}

div#actions div#userActions {
	float: right;
}

div#folders {
	float: left;
	width: 220px;
	padding-top: 5px;
}

div#folders span.unread {
	font-weight: bold;
}

div#folders ul {
	list-style-type: disc;
	list-style-image: url(../images/folder.png);
	font-size: 120%;
}

div#folders li {
	margin-left: 20px;
}

div#folders a {
	color: #000000;
	text-decoration: none;
}

div#folders a:hover {
	text-decoration: underline;
}

div#folders span.wicket-ajax-indicator {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
}

div#wrapper {
	background-image: url("../images/background_left.png");
	background-repeat: repeat-y;
	background-color: #ececec;
	float: left;
	width: 100%;
}

div#content {
	margin-left: 220px;
	padding: 10px;
}

div#content table {
	width: 100%;
	border-spacing: 2px;
}

div#content th {
	font-weight: bold;
	background-color: #c9c9c9;
}

div#content a {
	color: #000000;
	text-decoration: none;
}

div#content a:hover {
	text-decoration: underline;
}

div#content tr.odd {
	background-color: #dddddd;
}

div#content tr.even {
	
}

div#content td {
	padding: 5px;
}

div#content tr.unread {
	font-weight: bold;
}

div#content .navigatorLabel {
	float: left;
	font-size: 120%;
	font-style: italic;
}

div#content .navigator {
	text-align: right;
	font-size: 130%;
}

div#content .navigator img {
	border: 0px;
}

div#content .navigator em {
	font-style: normal;
	font-weight: bold;
}

div#content .norecords-td {
	font-size: 120%;
}

div#content #headers {
	margin-top: 10px;
}

div#content #headers .label {
	font-weight: bold;
}

div#content #attachments ul {
	list-style-type: disc;
	list-style-image: url(../images/attachment.png);
}

div#footer {
	clear: both;
	width: 100%;
	background-color: #bbb;
}

div#footer span {
	font-weight: bold;
	font-size: 90%;
	padding: 5px;
	display: block;
}