/*
 * Webmail login page stylesheet.
 */

html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 75%;
	background-color: #ececec;
	margin: 0px auto;
	width: 370px;
	text-align: center;
	height: 200px;
}

section#feedback {
	color: red;
}

header {
	display: block;
}

header h1 {
	font-size: 2em;
	height: 70px;
	line-height: 80px;
	margin: 0px;
}

section#login {
	font-size: 1.1em;
	display: block;
	margin: 0px auto;
	width: 300px;
}

section#login div.row {
	width: 100%;
	padding: 10px 0;
}

section#login div:last-child {
 	float: right;             
}

section#login label {
	float: left;
	margin-top: 2px;
	text-align: right;
	width: 80px;
}

section#login input[type=text],input[type=password] {
	float: right;
	text-align: left;
	width: 180px;
}

section#login input[type=submit] {
	float: right;
	text-align: left;
	width: 100px;
}

section#login div.wrapper {
	clear: both;
}
